.fox{
    /* background-image:url(https://i.pinimg.com/originals/5e/53/1b/5e531bab90f358d5aa0b8efb5e8eb154.jpg); */
    background-color: #10002B;
    background-position: center;
    /* background-repeat: repeat; */
    background-repeat:repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    height: 180vh;
}
/* https://i.pinimg.com/originals/16/6b/1d/166b1dba77140403e956a9cd5a8f363e.jpg */
.nav{
    color: #040F0F;
    width: 100vw;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C77DFF;
    z-index: 1000;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
}

.nav h1{
    justify-content: center;
    margin-left: 220px;
    color: #040F0F;
}
.filtros{
    background-color:  #C77DFF;
    border-top: 1px solid black;
    display: flex;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    height: 80px;
    justify-content: space-around;
}




.barra{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
    background-color: transparent;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
}


.carta{
    text-align: center;
}
.conteiner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    height: 100vh;
    margin-top: 35px;
    margin-left: 40px;
}

.botonsito{
  appearance: none;
  background-color: #FCFFFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #040F0F;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.pot{
  text-align: center;
}

.tdo{
  text-align: center;
  justify-content: center;
}
.bot{
  margin-top: 10px;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #040F0F;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word; 
}

/* From uiverse.io */
.batsi {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #040F0F;
  background-color: #FCFFFC;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

batsi:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

batsi:active {
  transform: translateY(-1px);
}